## Unsuprevised learning

We gaan kijken wat er mogelijk is met unsuprevised learning, door de data van de fiets snelwegen met elkaar te vergelijken.

In [ ]:
# Library imports
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from sklearn import metrics

In [1]:
# Functions for correlation and performance measurement

# Check correlation within the data
def plot_corr(df,size=10):
    corr = df.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr,cmap=plt.cm.Oranges)
    plt.xticks(range(len(corr.columns)), corr.columns)
    plt.yticks(range(len(corr.columns)), corr.columns)
    for tick in ax.get_xticklabels():
        tick.set_rotation(45) 
    plt.show()

# Measure performance 
def measure_performance(X, y, clf, show_accuracy=True, show_classification_report=True, show_confusion_matrix=True):
    y_pred = clf.predict(X)
    if show_accuracy:
        print("Accuracy:{0:.3f}".format(metrics.accuracy_score(y, y_pred)),"\n")

    if show_classification_report:
        print("Classification report")
        print(metrics.classification_report(y,y_pred),"\n")

    if show_confusion_matrix:
        print("Confusion matrix")
        print(metrics.confusion_matrix(y,y_pred),"\n")

For the unsuprevised we choose to use K-Means, K nearest neightbore.

In [33]:
# Import the dataframe
pd_all = gpd.read_file('data/netwerk-2016.json')

pd_all.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1121087 entries, 0 to 1121086
Data columns (total 9 columns):
LINKNUMMER    1121087 non-null int64
SOURCE        1121087 non-null int64
TARGET        1121087 non-null int64
HIGHWAY       1121087 non-null object
SPEED         1121087 non-null float64
INTENSITEI    1121087 non-null int64
INTENSI_01    1121087 non-null int64
SNELHEID_R    1121087 non-null float64
geometry      1121083 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 77.0+ MB

In [34]:
# Map the highway to numbers
pd_all['HIGHWAY_LABEL'] = pd_all['HIGHWAY'].map({'cycleway' : 0, 'secondary': 1, 'residential': 1, 'tertiary': 3
                                                   , 'footway': 4, 'pedestrian': 5, 'unclassified': 6, 'service': 7
                                                   , 'secondary_link': 8, 'path': 9,'steps': 10, 'track': 11 })


dictionary = {'cycleway' : 0, 'secondary': 1, 'residential': 1, 'tertiary': 3
                                                   , 'footway': 4, 'pedestrian': 5, 'unclassified': 6, 'service': 7
                                                   , 'secondary_link': 8, 'path': 9,'steps': 10, 'track': 11 }

# Convert all numbers to numbers
pd_all['LINKNUMMER'] = pd_all['LINKNUMMER'].astype(float)
pd_all['SNELHEID_R'] = pd_all['SNELHEID_R'].astype(float)
pd_all['SPEED'] = pd_all['SPEED'].astype(float)
pd_all['INTENSITEI'] = pd_all['INTENSITEI'].astype(float)
pd_all['INTENSI_01'] = pd_all['INTENSI_01'].astype(float)

# Drop all NaN values in the dataset
pd_all = pd_all.dropna()

In [18]:
from sklearn.cluster import KMeans

# Fill dataset
dataset = pd_all[['INTENSITEI', 'HIGHWAY_LABEL', 'SPEED', 'LINKNUMMER']]

# Convert DataFrame to matrix
mat = dataset.as_matrix()

# Using sklearn
km = KMeans(n_clusters=5)
km.fit(mat)

# Get cluster assignment labels
labels = km.labels_

# Format results as a DataFrame
results = pd.DataFrame([dataset.index,labels]).T

               0  1
0              0  4
1              1  4
2              2  3
3              3  4
4              4  4
5              5  0
6              6  4
7              7  2
8              8  4
9              9  4
10            10  4
11            11  4
12            12  3
13            13  0
14            14  0
15            15  3
16            16  1
17            17  4
18            18  4
19            19  4
20            20  1
21            21  4
22            23  4
23            24  3
24            25  2
25            26  3
26            27  4
27            28  4
28            29  4
29            30  1
...          ... ..
1103132  1121057  2
1103133  1121058  2
1103134  1121059  3
1103135  1121060  1
1103136  1121061  0
1103137  1121062  0
1103138  1121063  2
1103139  1121064  3
1103140  1121065  4
1103141  1121066  0
1103142  1121067  3
1103143  1121068  2
1103144  1121069  1
1103145  1121070  2
1103146  1121071  4
1103147  1121072  1
1103148  1121073  1
1103149  1121074  2
1103150  1121075  3
1103151  1121076  4
1103152  1121077  1
1103153  1121078  3
1103154  1121079  0
1103155  1121080  0
1103156  1121081  2
1103157  1121082  4
1103158  1121083  4
1103159  1121084  1
1103160  1121085  3
1103161  1121086  1

[1103162 rows x 2 columns]

In [ ]:
# TODO: Show result

In [ ]:
results[1][0]


def setResult(row):
    try:
        
    except:
        pass
    
df_final = dataset.apply(setResults, axis=1)  

dataset.apply(dataset['HIGHWAY_PREDICT'].apply(lambda x: results[1](x)))

df_final = pd.DataFrame({
    'Intensiteit' : x_test['INTENSITEI'],
    'Speed': x_test['SPEED'],
    'LinkNummer': x_test['LINKNUMMER'],
    'value_cycle': results[:,0],
    'value_path': results[:,1],
    'value_road': results[:,2],
    'value_unclassified': results[:,3]
})

df_final